.fireworks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;
}

.firework {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--firework-color, #ffd700);
  animation: explode 2s ease-out forwards;
}

.firework::before,
.firework::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--firework-color, #ffd700);
}

@keyframes explode {
  0% {
    box-shadow: 
      0 0 0 0 var(--firework-color),
      0 0 0 0 var(--firework-color),
      0 0 0 0 var(--firework-color),
      0 0 0 0 var(--firework-color),
      0 0 0 0 var(--firework-color),
      0 0 0 0 var(--firework-color),
      0 0 0 0 var(--firework-color),
      0 0 0 0 var(--firework-color);
    opacity: 1;
  }
  100% {
    box-shadow: 
      0 -100px 30px -10px transparent,
      70px -70px 30px -10px transparent,
      100px 0 30px -10px transparent,
      70px 70px 30px -10px transparent,
      0 100px 30px -10px transparent,
      -70px 70px 30px -10px transparent,
      -100px 0 30px -10px transparent,
      -70px -70px 30px -10px transparent;
    opacity: 0;
  }
}